<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Static Template</title>

    <!-- CSS styles -->
    <link href="./css/style.min.css" rel="stylesheet">
  </head>

  <body>
